/*BOdy style section*/
body{
    margin: 0;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Container style section*/
.container{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0.15);
    border-radius: 20px;
}
/*P style section*/
p{
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
}
/*button style section*/
button{
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 30px;
    width: 80px;
    height: 40px;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.btn-container{
  display: flex;
  gap: 20px;
}

#startBtn{
  background-color: green;
}

#stopBtn{
  background-color: red;
}

#resetBtn{
  background-color: grey;
}
/*Title style section*/
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    cursor: pointer;
}